.square{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #D22E19;
    border-radius: 50px;
    width: 50%;
    height: 500px;
    margin-top: 30px;
    text-decoration: none;
}

.square-text{
    align-self: center;
    color: white;
    
}

a{
    color: white;
}