.contact-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.contact-input{
    width: 800px;
    height: 400px;
}