body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header-logo img {
  height:74px;
  width: 250px;
  vertical-align: middle;
}

.header-menu li {
  vertical-align: middle;
  color: white;
  display: inline;
  padding: 0px 10px 0px 10px;
  text-decoration: none;
}

.singleProduct {
  width: 30%;
  justify-content: left;
  background-color: black;
  margin: 20px 20px 20px 20px;
}

.productImg img {
  width: 94%;
  margin: 10px 10px 0px 10px;
  
}

.productInfo {
  margin: 0px 10px 0px 10px;
  color: white;
}

.productNums {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.addCart {
  margin-top: 10px;
  background-color:white;
  color: maroon;
  height: 25px;
  width: 60%;
  font-weight: bold;
  border-radius: 50px;
}

.addCart:hover {
  background-color:maroon;
  color:white;
}

h2 {
  margin-block-start: 10px !important;
  margin-block-end: 5px !important;
}

h4 {
  vertical-align: middle;
  margin-block-start: 10px !important;
  margin-block-end: 10px !important;
}

h6 {
  margin-block-start: 5px !important;
  margin-block-end: 10px !important;
}



.login {
  display: inline-block;
  background-color: black;
  color:white;
  width: 250px;
  margin: 20px 38%;
  padding: 10px 10px;
}

.login form {
  width: 85%;
  margin: 0;

}

.login input {
  margin: 5px;
  width: 100%;
  align-content: center;
}



.login h1 {
  padding: 0 15px;
  margin-block-start: 5px !important;
  margin-block-end: 10px !important;
}

.submit {
  margin-top: 20px !important;
  text-align: center;
}

.menu-page {
  display: inline-flex;
}

.heroImg {
  height: 100vh;
  overflow: hidden;
}
.heroImg img {
  margin-top: -274px;
  max-width: 100%;
}

.home h1 {
  font-size: 4em;
  margin-top: -68px;
  color:white;
  text-transform: uppercase;
}